@import '../../colors.scss'; 

.containerLayout {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 20px;
}

.noSpace {
	margin: 0;
	padding: 0;
}

.searchBoxWrapper {
	position: fixed;
	width: calc(25% - 25px);	
}
.searchBoxContainer {
	background-color: $secondaryColor;
	margin-bottom: 15px;
	height: 80px;

	@extend .containerLayout;
	padding: 20px;

}

.labelsContainer {
	background-color: $secondaryColor;

	@extend .containerLayout;

	justify-content: flex-start;
	padding: 20px;

}

.genresContainer {
	background-color: $secondaryColor;

	@extend .containerLayout;

	justify-content: flex-start;
	padding: 20px;

}

h4 {
	align-self: flex-start;
	margin: 0;
	margin-bottom: 10px;
}

ul {
	list-style: none;
	@extend .noSpace;

	li {
		@extend .noSpace;
		padding: 2px 0px;
		cursor: pointer;
	}
}

.keyWord {
	display: inline-block;
	@extend .noSpace;
	padding-left: 5px;

}

.header {
	display: none;
}

@media only screen and (max-width: 768px) {
	$sideBarWidth: 260px;
	.header {
		position: absolute;
		z-index: 999;
		top:0;
		left: 0;
		display: flex;
		width: 100vw;
		height: 40px;
		background-color: $secondaryColor;
		justify-content: flex-start;
		align-items: center;
		i {
			cursor: pointer;
			width: 70px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			&:active {
				background-color: $primaryColor;
				color: white;
			}
		}
	}

	.navBarContainer {
		position: fixed;
		top:0;
		left: 0;
		display: flex;
		flex-direction: column;
	}
	
	.searchBoxWrapper {
		top:0;
		left: 0;
		z-index: 100;
		width: $sideBarWidth;
		max-width: $sideBarWidth ;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background-color: $secondaryColor;
		position: inherit;

		.searchBoxContainer {
			margin-bottom: 0;
			margin-top: 40px;
			padding-top: 20px;
			flex: 1;
			width: auto;
		}
		

		.labelsContainer {
			justify-content: flex-start;
			overflow-y: scroll;
			flex: 2;
			width: auto;
		}

		.genresContainer {
			justify-content: flex-start;
			flex: 4;
			width: auto;
		}
	}
}


